

.input_at_settings {
    &__label {
        color: var(--grey-1);
        font-size: 0.7rem;
        text-transform: capitalize;
    }
    &__wrapper {
        border-bottom: 1px solid var(--blue)
    }
    &__input {
        outline: none;
        border: none;
        padding: 0.7rem 0;

    }
}
