@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: regular;

  src: local('Inter'), url('inter/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;

  src: local('Inter'), url('inter/Inter-SemiBold.ttf');
}
