.userdata {
  width: 95vw;
  margin: auto;
  height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__avatar {
    width: 102px;
    height: 102px;
    margin: 0 auto 2rem;
    &-image {
      border: 1px solid transparent;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 1rem;
    text-align: center;
    margin: 0 0 3rem;
  }
  &__input {
    font-size: 0.83rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-3);
    &:last-of-type {
        border: none;
      }
    .input__label {
      color: var(--black);
      padding: 0.7rem 0;
    }
    .input__input {
      outline: none;
      border: none;
      padding: 0.7rem 0;
      color: var(--grey-1);
    }
  }
  .button {
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--white);
    font-size: 0.83rem;
    display: block;
    text-align: start;
    padding: 0.7rem 0;
    border-bottom: 1px solid var(--grey-3);
    &_primary {
      color: var(--blue);
    }
    &_danger {
      color: var(--error);
    }
    &:first-of-type {
      margin-top: 5rem;
    }
    &:last-of-type {
        border: none;
      }
  }
}
