<a class='chat-page__link'>
  <div class='chat-page__chat-avatar'>
  </div>
  <div class='chat-page__chat-title'>
    {{name}}
  </div>
  <div class='chat-page__chat-last'>
    {{#if isYours}}
      <span class='chat-page__chat-yours'>
        Вы:
      </span>
    {{/if}}
    {{chatLast}}
  </div>
  <div class='chat-page__chat-date'>
    {{chatDate}}
  </div>
  {{#if counter}}
    <div class='chat-page__chat-counter'>
      {{counter}}
    </div>
  {{/if}}
</a>