<link rel='stylesheet' href='/partials/styles/error_partial.css' />

<div class='error-block'>
  <h1 class='error-block__status'>{{status}}</h1>
  <p class='error-block__message'>{{message}}</p>
  <a class='error-block__link' href='/'>Назад к чатам</a>
</div>