.chat-page {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  &__nav {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: var(--grey-5);
    border-right: 1px solid var(--grey-3);
    height: 100vh;
    box-sizing: border-box;
    padding: 1.5rem;
  }
  &__link {
    display: grid;
    grid-template-columns: 50px auto 1fr;
    gap: 0.3rem;
    grid-template-areas:
      'a b c'
      'a d e'
      'a d f';
    justify-items: start;
    border-top: 1px solid var(--grey-2);
    font-size: 0.9rem;
    padding: 1rem 10px;
    &:first-of-type {
      margin-top: 1.5rem;
    }
  }
  &__chat-avatar {
    grid-area: a;
    width: 50px;
    height: 50px;
    @mixin avatar;
  }
  &__chat-title {
    grid-area: b;
    @mixin chatname;
  }
  &__chat-last {
    grid-area: d;
    color: var(--grey-1);
    font-size: 0.85rem;
  }
  &__chat-yours {
    color: var(--black);
  }
  &__chat-date {
    grid-area: c;
    color: var(--grey-1);
    font-size: 0.8rem;
    justify-self: end;
  }
  &__chat-counter {
    grid-area: f;
    justify-self: end;
    background: var(--blue);
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    color: var(--white);
    display: grid;
    place-items: center;
    box-sizing: border-box;
  }
  &__tosettings {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--grey-1);
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    span {
      padding-top: 5px;
    }
    &__icon {
      display: inline;
      width: 20px;
      height: 20px;
    }
  }
  &__search {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    background: var(--grey-3);
    border-radius: 5px;
    &.focused {
      justify-content: flex-start;
      input {
        width: 100%;
      }
    }
    &__input {
      @mixin chatinput;
      border-radius: 5px;
      width: calc(50% + 30px);
    }
    &__icon {
      color: var(--grey-1);
      width: 20px;
      height: 20px;
      margin-top: 10px;
    }
  }
  &__content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 10px 20px;
    flex-grow: 1;
  }
  &__title {
    border-bottom: 1px solid var(--grey-3);
    @mixin chatgrid;
    &__avatar {
      width: 34px;
      height: 34px;
      @mixin avatar;
    }
    &__header {
      @mixin chatname;
      font-size: 0.9rem;
    }
    &__button {
      background: none;
      outline: none;
      border: none;
      transform: rotate(90deg);
      font-size: 24px;
    }
  }
  &__chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__date {
      font-size: 0.8rem;
      align-self: center;
      color: var(--grey-1);
      margin-top: 40px;
      margin-bottom: 10px;
    }
    &__message {
      color: var(--black);
      font-size: 0.8rem;
      padding: 1rem;
      border-radius: 10px;
      background: var(--grey-3);
      width: 40%;
      flex-grow: 0;
      &_image {
        padding: 0;
        border: 1px solid var(--grey-2);
        img {
          object-fit: contain;
        }
      }
      &_yours {
        align-self: end;
        background: var(--light-blue);
        border-bottom-right-radius: 0px;
      }
    }
    &__additional {
      margin-right: 0;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;
      font-size: 0.6rem;
      color: var(--grey-1);
    }
    &__baige {
      width: 10px;
      height: 5px;
      svg {
        width: 10px;
        height: 10px;
      }
      &_seen {
        color: var(--blue);
      }
    }
  }
  &__form {
    border-top: 1px solid var(--grey-3);
    @mixin chatgrid;
    padding-bottom: 0;
    &__attachment {
      color: var(--grey-1);
      svg {
        width: 32px;
        height: 32px;
      }
      input {
        position: absolute;
        outline: none;
        border: none;
        clip: rect(0, 0, 0, 0);
        opacity: 0;
      }
      cursor: pointer;
    }
    &__message {
      @mixin chatinput;
      border-radius: 30px;
    }
    &__submit {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: var(--blue);
      color: var(--white);
      border: none;
      outline: none;
      display: grid;
      place-items: center;
      padding: 0;
      cursor: pointer;
      svg {
        width: 22px;
        height: 24px;
        margin: auto;
      }
    }
  }
}
